*{
    margin: 0;
    padding: 0;

}img{
    width: 100%;
    height: 100%;



}.parent{
    width: 100%;
    height: 100vh;
    background-color: rgb(249, 252, 249);
    display: grid;
    
     grid-template-columns: repeat(2,50%);
     grid-template-rows: repeat(7,100%); 
     /* grid-gap: 30px; */

}
.child1,.child2,.child3,.child4,.child5,.child6,.child7,.child8,.child9,.child10{
    background-color: white;
    border: 1px solid black;
    display: grid;
    justify-content: center;
    align-items: center;
    
    
    
}
.child1{
    position:relative;
    grid-column: 1/ span 2;
    object-fit: cover;
    
    


}
h1{
    top: 10px;
    position: absolute;
    color: aliceblue;
}
ul{
    top: 5px;
    position: absolute;
    right: 10%;
    display: flex;
    color: aliceblue;
}
li{
    margin: 10px;
}
.child2{
    position: relative;
    text-align: left;
}
h3{
    position: absolute;
    font-size: 40px;
    padding: 10px 200px;
    left: 2%;
    top: 25%;
}
.child2 p{
    font-size: 20px;
    padding: 280px 180px;
    

}
.child5{
    position: relative;
    text-align: center;
    justify-content: center;
}
.child5 h5{
    position: absolute;
    font-size: 40px;
    padding: 10px 200px;
    left: 2%;
    top: 25%;
}
.child5 p{
    font-size: 20px;
    padding: 280px 180px;
    

}
.child6{
    position: relative;
    text-align: center;
}
.ppp{
    width: 100%;
    height: 100vh;
}
.child6 h9{
    top: 60%;
    position: absolute;
    color:black;
    padding: 10px 300px;
    font-size: 40px;
}
.child6 p{
    padding: 10px 150px;
    position: absolute;
    top: 70%;
    font-size: 20px;
    align-items: center;
    /* justify-content: center; */
    color:black;
}
.child7{
    position: relative;
    text-align: center;
    padding: 0px 0px;
}
.ttt{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.child7 h10{
    top: 60%;
    position:absolute;
    color: black;
    padding: 10px 330px;
    font-size: 40px;
}
.child7 p{
    position: absolute;
    top: 75%;
    font-size: 20px;
    padding: 10px 150px;
    align-items: center;
}
h6{
    top: 10px;
    position: absolute;
    color: black;
    font-size: 20px;
    border: 2px solid white;
    border-radius: 40%;
    background-color: aliceblue;
    right: 5%;
    
}
h2{
    top: 20%;
    position:absolute;
    font-size: 40px;
    color: white;
    left: 40%;

}
.child3{
    object-fit: cover;
    width: 100%;
}
.child4{
    object-fit:cover;
}
h3{
    font-size: 40px;
    
    
}
p{
    font-size: medium;
    padding: 10px 50px;
   

}
h9{
    font-size: 30px;
    position: absolute;
}
.child6 p{
    position: relative;
    text-align: center;
}